* {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 25px;
}

.Header {
  display: flex;
  align-items: center;
  height: 50px;
  padding: 0 30px;
  color: blue;
}

/* Configuração links cor, espaço, e sem sublinhado */
.NavBar a {
  color: rgb(11, 107, 11);
  padding: 0 10px;
  text-decoration: none;
}

/* Configuração passar o mouse */
.NavBar a:hover {
  color: rgb(128, 255, 0);
}

.form {
  /* display: inline-block; */
}
